In [3]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
col_names= ['JOBID', 'ACCOUNT', 'USER', 'REQMEM', 'USEDMEM', 'REQTIME', 'USEDTIME',
       'NODES', 'CPUS', 'PARTITION', 'EXITCODE', 'STATE', 'NODE1','NODE2','NODE3','NODE4','NODE5','NODE6']
accre_df = pd.read_csv('data/accre-jobs-2020.csv',nrows=100000, names=col_names)
accre_df = accre_df.iloc[1:]

C:\Users\duant\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8,13,14,15,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Checking data

In [5]:
accre_df.head(3)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODE1,NODE2,NODE3,NODE4,NODE5,NODE6
1,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,NaN,NaN,NaN,NaN,NaN
2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,NaN,NaN,NaN,NaN,NaN
3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,NaN,NaN,NaN,NaN,NaN

In [6]:
accre_df.tail(3)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODE1,NODE2,NODE3,NODE4,NODE5,NODE6
99997,17229139,cms,cmslocal,186648Mn,1.82M,2-00:00:00,00:01:19,1,32,nogpfs,0:0,COMPLETED,cn1588,NaN,NaN,NaN,NaN,NaN
99998,17229140,cms,cmslocal,28000Mn,9001.97M,2-00:00:00,07:49:19,1,4,production,0:0,COMPLETED,cn500,NaN,NaN,NaN,NaN,NaN
99999,17229141,cms,cmslocal,28000Mn,8508.70M,2-00:00:00,07:49:19,1,4,production,0:0,COMPLETED,cn498,NaN,NaN,NaN,NaN,NaN

In [7]:
accre_df.shape

(99999, 18)

In [8]:
accre_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 1 to 99999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   JOBID      99999 non-null  object
 1   ACCOUNT    99999 non-null  object
 2   USER       99999 non-null  object
 3   REQMEM     99999 non-null  object
 4   USEDMEM    99999 non-null  object
 5   REQTIME    99999 non-null  object
 6   USEDTIME   99999 non-null  object
 7   NODES      99999 non-null  object
 8   CPUS       99999 non-null  object
 9   PARTITION  99999 non-null  object
 10  EXITCODE   99999 non-null  object
 11  STATE      99999 non-null  object
 12  NODE1      99999 non-null  object
 13  NODE2      127 non-null    object
 14  NODE3      46 non-null     object
 15  NODE4      30 non-null     object
 16  NODE5      10 non-null     object
 17  NODE6      9 non-null      object
dtypes: object(18)
memory usage: 13.7+ MB

Remove Duplicate

In [9]:
accre_df.sort_values(by="JOBID", inplace=True) 
accre_df.drop_duplicates(subset='JOBID', keep='first', inplace=True)
accre_df.reset_index(inplace=True)

In [10]:
accre_df.shape

(99999, 19)

Clean up column names

In [11]:
accre_df.columns = accre_df.columns.str.lower()
accre_df.head()

,index,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,partition,exitcode,state,node1,node2,node3,node4,node5,node6
0,3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,production,0:0,COMPLETED,cn1464,NaN,NaN,NaN,NaN,NaN
1,2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,production,0:0,COMPLETED,cn1441,NaN,NaN,NaN,NaN,NaN
2,1,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,production,0:0,COMPLETED,cn1531,NaN,NaN,NaN,NaN,NaN
3,4,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,production,0:0,COMPLETED,cn1473,NaN,NaN,NaN,NaN,NaN
4,5,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,production,0:0,COMPLETED,cn1440,NaN,NaN,NaN,NaN,NaN

Only look at Production

In [12]:
accre_df = accre_df.loc[accre_df.partition == 'production']
accre_df.shape

(81669, 19)

Only look at successful runs

In [13]:
accre_df=accre_df[accre_df.exitcode=='0:0']
accre_df.shape

(81663, 19)

Only look at one node

In [14]:
accre_df.groupby(['nodes'])['jobid'].count()

nodes
1     58621
2        67
3         2
4         5
5         1
12        1
13        2
19        5
21        1
23        1
25        1
30        2
38        1
1     22828
2        77
3        24
4        24
Name: jobid, dtype: int64

In [15]:
accre_df ['nodes'] = pd.to_numeric (accre_df ['nodes'])

In [16]:
accre_df.groupby(['nodes'])['jobid'].count()

nodes
1     81449
2       144
3        26
4        29
5         1
12        1
13        2
19        5
21        1
23        1
25        1
30        2
38        1
Name: jobid, dtype: int64

In [17]:
accre_df = accre_df[accre_df.nodes == 1]
accre_df.shape

(81449, 19)

Add two extra columns to separate requested memory type and memory quantity

In [18]:
accre_df['reqmem_num'] = accre_df['reqmem'].str[:-2]
accre_df['reqmem_type'] = accre_df['reqmem'].str[-2:]
accre_df.tail(3)

,index,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,...,exitcode,state,node1,node2,node3,node4,node5,node6,reqmem_num,reqmem_type
99992,99993,17229135,cms_lowprio,cmslocal,28000Mn,6667.50M,2-00:00:00,07:44:13,1,4,...,0:0,COMPLETED,cn401,NaN,NaN,NaN,NaN,NaN,28000,Mn
99997,99998,17229140,cms,cmslocal,28000Mn,9001.97M,2-00:00:00,07:49:19,1,4,...,0:0,COMPLETED,cn500,NaN,NaN,NaN,NaN,NaN,28000,Mn
99998,99999,17229141,cms,cmslocal,28000Mn,8508.70M,2-00:00:00,07:49:19,1,4,...,0:0,COMPLETED,cn498,NaN,NaN,NaN,NaN,NaN,28000,Mn

In [19]:
accre_df.reqmem_type.unique()

array(['Mn', 'Mc'], dtype=object)

Calculate memory per node

In [20]:
def conversion(row):
    if row['reqmem_type']=='Mc':
        return row['reqmem_num'] * row['cpus']
    else:
        return row['reqmem_num']

In [21]:
accre_df ['reqmem_num'] = pd.to_numeric (accre_df ['reqmem_num']) 
accre_df ['cpus'] = pd.to_numeric (accre_df ['cpus'])

In [22]:
accre_df['reqmem_per_node'] = accre_df.apply(lambda row: conversion(row), axis = 1)

In [23]:
accre_df['usedmem_per_node'] = accre_df['usedmem'].str.replace('M', '', regex=False)
accre_df['usedmem_per_node'] = pd.to_numeric(accre_df['usedmem_per_node'], errors='coerce')

Clean up time to seconds

In [24]:
def time_to_second(sec):
    time = sec.split('-')
    if len(time) == 2:
        day = int(time[0])*86400
    else:
        day = 0
    h,m,s = time[-1].split (':')
    day = day + int (h)*3600
    day = day + int (m)*60
    day = day +int(s)
    return day

In [25]:
accre_df['usedtime_sec'] = accre_df['usedtime'].apply(time_to_second)
accre_df.shape

(81449, 24)

In [26]:
accre_df['reqtime_sec'] = accre_df['reqtime'].apply(time_to_second)
accre_df.shape

(81449, 25)

Clean up Job_ID

In [27]:
#accre_df['jobid_array']=accre_df['jobid'].apply(lambda x: x.split('_'))

In [28]:
accre_df['jobid_array']=[x.split('_')[0] for x in accre_df['jobid']]

In [29]:
accre_df.head()

,index,jobid,account,user,reqmem,usedmem,reqtime,usedtime,nodes,cpus,...,node4,node5,node6,reqmem_num,reqmem_type,reqmem_per_node,usedmem_per_node,usedtime_sec,reqtime_sec,jobid_array
0,3,15861125,treviso,arabella,122880Mn,69111.86M,13-18:00:00,13-18:00:20,1,24,...,NaN,NaN,NaN,122880,Mn,122880,69111.86,1188020,1188000,15861125
1,2,15861126,treviso,arabella,122880Mn,67181.12M,13-18:00:00,12-14:50:56,1,24,...,NaN,NaN,NaN,122880,Mn,122880,67181.12,1090256,1188000,15861126
2,1,15925210,treviso,arabella,122880Mn,65973.49M,13-18:00:00,13-18:00:28,1,24,...,NaN,NaN,NaN,122880,Mn,122880,65973.49,1188028,1188000,15925210
3,4,16251645,treviso,arabella,122880Mn,65317.33M,13-18:00:00,12-03:50:32,1,24,...,NaN,NaN,NaN,122880,Mn,122880,65317.33,1050632,1188000,16251645
4,5,16251646,treviso,arabella,122880Mn,65876.11M,13-18:00:00,13-18:00:03,1,24,...,NaN,NaN,NaN,122880,Mn,122880,65876.11,1188003,1188000,16251646

In [30]:
accre_df.shape

(81449, 26)

**Q1: What groups are best optimizing their memory usage in
terms of percent of actual memory used of the memory
requested for a job? What is the average percent for each
group?**

In [31]:
group_memory=accre_df.groupby(['account'])['usedmem_per_node','reqmem_per_node'].sum().reset_index()
group_memory.head()

C:\Users\duant\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

   account  usedmem_per_node  reqmem_per_node
0  alkmene        6762531.02         17305600
1    anise         507831.79          1230848
2     arra         568102.62          1114112
3   baking         387488.77           987136
4     bell             46.22            20480

In [32]:
group_memory['pct_used_req'] = group_memory['usedmem_per_node']/group_memory['reqmem_per_node']
group_memory=group_memory.sort_values('pct_used_req',ascending=False)

In [33]:
group_memory.head()

         account  usedmem_per_node  reqmem_per_node  pct_used_req
46        pepino         706547.06           716800      0.985696
52        seeded         307578.71           491520      0.625770
60         water         107458.19           196608      0.546561
59       treviso        2086033.80          3932160      0.530506
7   blackberries          34175.61            65536      0.521478

In [34]:
group_memory.tail()

          account  usedmem_per_node  reqmem_per_node  pct_used_req
51          round            119.22           163840      0.000728
9   boysenberries           1645.60          7080000      0.000232
37          lollo            130.88           942080      0.000139
54             st             39.55           786432      0.000050
47       pioppino              0.00             1024      0.000000

**Q2: Optimizing memory is more important for longer
running jobs then shorter running jobs as the resources
are tied up for longer. If jobs are weighted by runtime,
what is the average percent of memory used of the
requested memory for each group?**

In [36]:
accre_df['time_req_mem'] = accre_df['usedtime_sec']*accre_df['reqmem_per_node']
accre_df['time_use_mem'] = accre_df['usedtime_sec']*accre_df['usedmem_per_node']

In [58]:
df_weighted = accre_df[['account','time_req_mem','time_use_mem']].groupby(['account']).sum().reset_index()

In [60]:
df_weighted['weighted (%)'] = df_weighted['time_use_mem']/df_weighted['time_req_mem']*100

In [63]:
df_weighted = df_weighted.sort_values(by='weighted (%)')
df_weighted

          account  time_req_mem  time_use_mem  weighted (%)
47       pioppino          7168  0.000000e+00      0.000000
37          lollo   90453770240  1.268534e+07      0.014024
54             st      99221504  1.438523e+04      0.014498
9   boysenberries  290591240000  7.865169e+07      0.027066
51          round    3700899840  3.577210e+06      0.096658
..            ...           ...           ...           ...
31          fresh  441968230400  3.004443e+11     67.978700
42         muscat   21316237280  1.530250e+10     71.787992
52         seeded  138908549120  1.243976e+11     89.553563
15       cantared  897130348544  8.055319e+11     89.789842
46         pepino  348956661760  3.489488e+11     99.997748

[63 rows x 4 columns]